

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: lightgray;
    text-align: center;
}

.hideable {
    display: none;
}

.hoverable:hover {
    border:  2px solid yellow;
}

.winning {
    border:  4px solid purple;
}











