

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: lightgray;
    text-align: center;
}

.outline {
    border: solid 2px yellow
}











